body {
    background-color: #FFFFFF;
    font-family: arial;
    color: #000000;
}

a {
    color: #000000;
}

h1, h2, h3, h4, h5, p, p a {
    padding: 4pt;
    margin: 2pt;
}

.docs_browse table {
    color: #000000;
    padding: 4pt;
    margin: 0;
}

.docs_browse_link a {
    text-decoration: none;
    color: #000000;
}

.docs_browse_link:hover {
    background-color: #222222;
}

table.view, table.form {
    border-spacing: 0pt;
}

table.form td, table.form th {
    border: 0;
    border-style: solid;
    margin: 0pt;
    padding: 2pt;
}

table {
    border-spacing: 0pt;
}

.navbar ul {
    background-color: #000000;
}

.navbar li a, .dropbtn {
    color: #FFFFFF;
}

.navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: #222222;
}

.dropdown-content {
    background-color: #000000;
}

.dropdown-content a:hover {
    background-color: #222222;
}

.btn-group-rlmenu button {
    background-color: #000000;
    border: 0.5pt solid #000000;
    color: #FFFFFF;
    padding: 10px 24px;
    cursor: pointer;
}

.btn-group-rlmenu a {
    text-decoration: none;
}

.actbutton {
    margin: 0pt;
    padding: 0pt;
    cursor: pointer;
}

.actbutton a button {
    border: 0;
    background-color: #FFFFFF;
    color: #000000;
    width: 100%;
    cursor: pointer;
}

.form td {
    border: 0;
}

input[type="submit"] {
    background-color: #000000;
    border: 0.5pt solid #000000;
    color: #FFFFFF;
    padding: 10px 24px;
}

.sort-options i {
    color: #FFFFFF;
}