/* General HTML tag overrides */
hr {
    opacity: 1;
}

input {
    background-color: #000000;
    border-color:#FFFFFF;
    border-style: solid;
    border-width: 1pt;
    padding: 1pt;
}

input[type="submit" i], button, select {
    background-color: #FFFFFF;
    border-style: none;
    color:#000000;
    padding: 4pt;
}

select {
    background-color: #000000;
    border-color:#FFFFFF;
    border-style: solid;
    border-width: 1pt;
    color: #FFFFFF;
    padding: 1pt;
}

textarea {
    background-color: #000000;
    border-color: #FFFFFF;
    border-radius: 0;
    border-style: solid;
    border-width: 1pt;
    color: #FFFFFF;
}

/* Reset header font sizes and weights to something close to the HTML default values */
@for $i from 1 through 6 {
    h#{$i} {
        font-size: 2.33 - (0.33 * $i) + "em";
        font-weight: bold;
    }
}

/* Bootstrap overrides - Variables */
:root, [data-bs-theme=dark] {
    --bs-body-bg-rgb: 0,0,0;
    --bs-body-bg: #000000;
    --bs-body-color-rgb: 255,255,255;
    --bs-body-color: #FFFFFF;
    --bs-secondary-bg-rgb: 0,0,0;
    --bs-secondary-bg: #000000;
    --bs-secondary-color-rgb: 255,255,255;
    --bs-secondary-color: #FFFFFF;
    --bs-tertiary-bg-rgb: 255,255,255;
    --bs-tertiary-bg: #FFFFFF;
    --bs-tertiary-color-rgb: 0,0,0;
    --bs-tertiary-color: #000000;

    --bs-border-radius-2xl: 0;
    --bs-border-radius-lg: 0;
    --bs-border-radius-sm: 0;
    --bs-border-radius-xl: 0;
    --bs-border-radius-xxl: 0;
    --bs-border-radius: 0;

    --bs-btn-border-radius: 0;
    --bs-font-sans-serif: Arial,sans-serif,system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* Bootstrap Overrides - Buttons */
.btn-htmltable.btn {
    height: 24pt;
    width: 24pt;
    font-size: 0.8rem;
    border: none;
    padding: 0;
}

.btn-htmltable.btn.btn-primary {
    background-color: #FFFFFF;
    color: #000000;
}

.btn-htmltable.btn.btn-primary span {
    position: relative;
    padding: 0;
}

/* Bootstrap Overrides - Navigation bar */
.navbar-nav .nav-item .nav-link {
    color: rgb(0,0,0,255);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-bottom: 4pt;
    padding-left: 4pt;
    padding-right: 4pt;
    padding-top: 4pt;
}

.navbar {
    padding-bottom: 2pt;
    padding-top: 2pt;
}

[data-bs-theme=dark] .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml\3B base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMCAzMCc+PHBhdGggc3Ryb2tlPSdyZ2JhKDAsIDAsIDAsIDEpJyBzdHJva2UtbGluZWNhcD0nc3F1YXJlJyBzdHJva2UtbWl0ZXJsaW1pdD0nMTAnIHN0cm9rZS13aWR0aD0nMicgZD0nTTQgN2gyMk00IDE1aDIyTTQgMjNoMjInLz48L3N2Zz4=");
}

.navbar-toggler {
    padding: 4pt;
}

/* Documentation table */
.docs_browse tbody tr td {
    border-color: #FFFFFF;
    border-width: 1pt;
}

.docs_browse tbody tr td a {
    color: #FFFFFF;
}

.docs_browse tbody tr:first-child td {
    border-top-style: solid;
    border-bottom-style: solid;
}

.docs_browse tbody tr:not(:first-child) td {
    border-top-style: none;
    border-bottom-style: solid;
}

.docs_browse thead tr th {
    text-align: center;
}