{% include "header.html" %}
        <div class="btn-group-rlmenu">
            <a href="/new/"><button>Add Contact</button></a>
        </div>
        <table>
            <tr>{% for i in headernames %}
                <th>{{ i }}</th>{% endfor %}
                <th> </th>
                <th> </th>
                <th> </th>
                </tr>
            {% for r in data %}<tr>{% for h in headers %}
                <td>{{ r|get_item:h }}</td>{% endfor %}
                <td><a href="/item/{{ r.inid }}">View</a></td>
                <td><a href="/item/{{ r.inid }}?action=edit">Edit</a></td>
                <td><a href="/item/{{ r.inid }}?action=del">Delete</a></td>
            </tr>{% endfor %}
        </table>
{% include "footer.html" %}
