{% include "header.html" %}
        <h2>New Contact</h2>
        <hr>
        <form action="/new/" method="post">
            {% csrf_token %}
            {% for group in groupnames %}
            <h3>{{ groups|get_item:group }}</h3>
            <table>{% for field in form %}{% if field.name in groupednames|get_item:group %}
                <tr>
                    <td width="25%">{{ field.label }}</td>
                    <td width="75%">{{ field }}</td>
                </tr>
            {% endif %}{% endfor %}</table>{% endfor %}
            <input type="submit" value="Submit">
        </form>
{% include "footer.html" %}
