/* Bootstrap overrides */
:root, [data-bs-theme=dark] {
    --bs-body-bg: #000000;
    --bs-body-bg-rgb: 0,0,0;
    --bs-body-color: #FFFFFF;
    --bs-body-color-rgb: 255,255,255;
    --bs-secondary-bg: #222222;
    --bs-secondary-bg-rgb: 34,34,34;
    --bs-secondary-color: #CCCCCC;
    --bs-secondary-color-rgb: 204,204,204;
    --bs-tertiary-bg: #333333;
    --bs-tertiary-bg-rgb: 51,51,51;
    --bs-tertiary-color: #BBBBBB;
    --bs-tertiary-color-rgb: 187,187,187;
}
