/*
ContactList - CTCL 2023
File: styling.scss
Purpose: High-contrast dark theme styling
Created: August ??, 2023
Modified: August 7, 2023
*/

/* Bootstrap overrides */
:root, [data-bs-theme=dark] {
    --bs-body-bg: #000000;
    --bs-body-bg-rgb: 0,0,0;
    --bs-body-color: #FFFFFF;
    --bs-body-color-rgb: 255,255,255;
    --bs-secondary-bg: #000000;
    --bs-secondary-bg-rgb: 0,0,0;
    --bs-secondary-color: #FFFFFF;
    --bs-secondary-color-rgb: 255,255,255;
    --bs-tertiary-bg: #FFFFFF;
    --bs-tertiary-bg-rgb: 255,255,255;
    --bs-tertiary-color: #000000;
    --bs-tertiary-color-rgb: 0,0,0;
    --bs-border-radius: 0;
    --bs-btn-border-radius: 0;
    --bs-border-radius-sm: 0;
    --bs-border-radius-lg: 0;
    --bs-border-radius-xl: 0;
    --bs-border-radius-xxl: 0;
    --bs-border-radius-2xl: 0;
}

/* Navigation bar */
.navbar-nav .nav-item .nav-link {
    color: rgb(0,0,0,255);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 4pt;
    padding-left: 4pt;
    padding-top: 4pt;
    padding-bottom: 4pt;
}

.navbar {
    padding-top: 2pt;
    padding-bottom: 2pt;
}

/* Documentation table */
.docs_browse tbody tr td {
    border-color: #FFFFFF;
    border-width: 1pt;
}

.docs_browse tbody tr td a {
    color: #FFFFFF;
}

.docs_browse tbody tr:first-child td {
    border-top-style: solid;
    border-bottom-style: solid;
}

.docs_browse tbody tr:not(:first-child) td {
    border-top-style: none;
    border-bottom-style: solid;
}

.docs_browse thead tr th {
    text-align: center;
}

/* General HTML tag overrides */
hr {
    opacity: 1;
}

input[type="submit" i], button, select {
    background-color: #FFFFFF;
    color:#000000;
    border-style: none;
}

textarea {
    background-color: #000000;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 0;
    border-width: 1pt;
}