/*
ContactList - CTCL 2023-2024
File: runner_dev
Purpose: Linux/BSD script for running the application in development environments
Created: January 11, 2024
Modified: January 12, 2024
*/

.footertext {
    text-align: center;
    font-size: 10pt;
}