.footertext {
    text-align: center;
    font-size: 10pt;
}

table {
    width: 100%;
}

.btn {
    --bs-btn-font-size: 10pt;
}

h1 {
    text-align: center;
}

form {
    padding: 8pt;
}

a:has(.btn) {
    text-decoration: none;
}