body {
    margin: 0;
}

table {
    width: 100%;
    border-spacing: 0pt;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

h1, h2, h3, h4, h5, p, p a {
    padding: 4pt;
    margin: 2pt;
}

table.view, table.form {
    border-spacing: 0pt;
}

table.form td, table.form th {
    border: 0;
    border-style: solid;
    margin: 0pt;
    padding: 2pt;
}

form {
    max-width: 100%;
    margin: 4pt;
}

form table {
    max-width: 100%;
}

form table tr td {
    max-width: 50%;
    width: 50%;
}

.content {
    margin: 4pt;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 48px;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: grid;
    text-align: center;
    height: 48px;
    text-decoration: none;
    align-content: center;
    padding: 0px 12px;
}

.navbar li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: inherit;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.actbutton {
    margin: 0pt;
    padding: 0pt;
    cursor: pointer;
}

.btn-group-rlmenu {
    display: block;
    margin: 4pt;
}

.btn-group-rlmenu button {
    max-width: 100%;
    width: 100%;
    margin-top: 4pt;
    cursor: pointer;
}

.btn-group-rlmenu a {
    max-width: 100%;
    width: 100%;
    text-decoration: none;
}

.btn-group-rlmenu form {
    max-width: 100%;
    width: 100%;
    text-decoration: none;
    margin: 0;
}

input[type="submit"] {
    width: 100%;
    cursor: pointer;
    display: block;
    margin-top: 4pt;
}

input {
    max-width: 100%;
    box-sizing: border-box;
} 